body {
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-colour);
  background-color: var(--background-colour);
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
