:root {
  --main-text-colour: #757575;
  --background-colour: #ffffff;
  --accent-colour: #2196f3;
  --title-colour: #212121;
  --ligth-text-colour: #ffffff;
  --dark-bg-colour: #2f303a;
  --light-bg-colour: #f5f4fa;
  --font: Roboto, sans-serif;
}
