.adress-block {
  display: inline-block;

  @media screen and (max-width: 767px) {
    margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 60px;
    white-space: nowrap;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50%-45px) / 2);
    text-align: left;
    margin: 0;
  }
}
