.footer-section {
  background-color: var(--dark-bg-colour);
}

.footer-block {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1119px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    // flex-basis: calc((50%-45px) / 2);

    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    // padding-top: 60px;
    // padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    flex-basis: calc((50%-45px) / 2);
  }
}

.footer-block__logo {
  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-block:last-child {
  @media screen and (min-width: 1200px) {
    flex-basis: calc(50%-15px);
  }
}

.footer-links__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17px;
  color: var(--ligth-text-colour);

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-links {
  display: block;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100%-76px / 2);
    // margin: 0;
    // margin-top: 65px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50%-45px) / 2);
    text-align: left;
    // margin: 0;
  }
}
